<h1 align="center"> Eliptic Seizure Detection </h1>
    
### Helping Links
- [Main Dataset](https://repositori.upf.edu/handle/10230/42894?fbclid=IwAR2YStcqFsgFCvX1vLPOILH9kAq9F6ZFj0OogHwbuDaCSHnd_LVjgQpHzFA)
- [Processed Dataset](https://www.kaggle.com/datasets/harunshimanto/epileptic-seizure-recognition?select=Epileptic+Seizure+Recognition.csv)
- [Notebook using NN](https://www.kaggle.com/code/ashishshaji/lstm-for-epileptic-seizures-prediction)
- [Notebook using SVM](https://www.kaggle.com/code/yatindeshpande/seizure-prediction-using-svm)
- [Signal Processing info](https://ieeexplore.ieee.org/document/8412847?fbclid=IwAR0UVzEA7zDQWmOu3V9Mnf6iojQKpHHc6Uxdyc7HtrKTwJK0DE_K5u3YK3s)

### Dataset Description
The original dataset from the reference consists of 5 different folders, each with 100 files, with each file representing a single subject/person. Each file is a recording of brain activity for 23.6 seconds. The corresponding time-series is sampled into 4097 data points. Each data point is the value of the EEG recording at a different point in time. So we have total 500 individuals with each has 4097 data points for 23.5 seconds

We acquire publicly accessible EEG data from Bonn University, wherein the data include five sets(A,B,C,D and E). Each set consists of 100 single EEG segments with a sampling rate of 173.6 Hz. The EEG signals were filtered using a Bandpass filter and smoothing method. The first two sets (A,B) represent healthy people, whose signals were taken with open and closed eyes. The other three sets represent eliptic persons. Set (C, D) were treated as non-seizure because the signals are captured in duration without seizures. For seizure detection, set(E) was only treated as an eliptic seizure.



### Folder Description:
Main datasets has text files in total five different folders. Text files (.txt). Files: 
- For each set (A-E) there is a ZIP-file containing 100 TXT-files. 
- Each TXT-file consists of 4096 samples of one EEG time series in ASCII code. 
- SET A in file Z.zip containing Z000.txt - Z100.txt
- SET B in file O.zip containing O000.txt - O100.txt
- SET C in file N.zip containing N000.txt - N100.txt 
- SET D in file F.zip containing F000.txt - F100.txt 
- SET E in file S.zip containing S000.txt - S100.txt

### Prepocessing
We divided and shuffled every 4097 data points into 23 chunks, each chunk contains 178 data points for 1 second, and each data point is the value of the EEG recording at a different point in time. So now we have 23 x 500 = 11500 pieces of information(row), each information contains 178 data points for 1 second(column), the last column represents the label y {1,2,3,4,5}.

The response variable is y in column 179, the Explanatory variables X1, X2, â€¦, X178

y contains the category of the 178-dimensional input vector. Specifically y in {1, 2, 3, 4, 5}:

5 - eyes open, means when they were recording the EEG signal of the brain the patient had their eyes open

4 - eyes closed, means when they were recording the EEG signal the patient had their eyes closed

3 - Yes they identify where the region of the tumor was in the brain and recording the EEG activity from the healthy brain area

2 - They recorder the EEG from the area where the tumor was located

1 - Recording of seizure activity

All subjects falling in classes 2, 3, 4, and 5 are subjects who did not have epileptic seizure. Only subjects in class 1 have epileptic seizure. Our motivation for creating this version of the data was to simplify access to the data via the creation of a .csv version of it. Although there are 5 classes most authors have done binary classification, namely class 1 (Epileptic seizure) against the rest.ocessing

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Dataset and check

In [16]:
df =  pd.read_csv('mergedFiles/allFilesMerged.csv')
df.shape

(11500, 179)

In [21]:
df.sample(10)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,y
8512,15.3890,8.5010,1.4843,-5.2451,-11.2950,-16.32500,-20.06200,-22.32600,-23.03200,-22.1980,...,7.9756,13.3040,17.7440,21.2330,23.7570,25.337,26.035,25.937,25.158,4
886,14.4920,39.3480,64.5740,88.8820,111.0400,129.92000,144.56000,154.19000,158.27000,156.5300,...,20.5750,44.4930,67.9770,90.1010,109.9900,126.840,139.990,148.890,153.140,1
6761,26.4850,25.4760,25.2310,25.8980,27.5980,30.42100,34.41600,39.59300,45.90900,53.2740,...,-42.8390,-45.5020,-46.9050,-46.6640,-44.4700,-40.185,-33.695,-25.275,-14.786,3
16,174.1300,166.0600,155.1600,142.9400,131.1500,121.67000,116.39000,117.07000,125.17000,141.7000,...,-332.5900,-326.7200,-318.0800,-303.8800,-281.6700,-249.650,-206.770,-152.920,-88.944,1
10918,-31.1560,-28.9360,-25.7920,-22.0400,-18.0150,-14.05900,-10.49300,-7.60550,-5.62700,-4.7219,...,14.1450,13.3340,12.7660,12.4630,12.4390,12.698,13.233,14.028,15.062,5
7706,-36.2030,-40.8740,-44.6910,-47.6680,-49.8610,-51.34600,-52.19900,-52.47600,-52.20100,-51.3570,...,36.4840,34.8860,32.4770,29.5160,26.2730,23.001,19.921,17.201,14.946,4
9585,39.9480,34.3110,27.2640,19.1550,10.3750,1.32990,-7.58240,-16.00000,-23.61600,-30.1980,...,-9.2105,-5.4128,-1.2758,3.0948,7.5693,11.998,16.221,20.071,23.389,5
10448,-9.4306,-7.6591,-5.6549,-3.6368,-1.8289,-0.44121,0.35021,0.41819,-0.30419,-1.8181,...,11.7830,2.1149,-7.1341,-15.1970,-21.4110,-25.277,-26.494,-24.990,-20.915,5
294,-196.1100,-122.0900,-42.8040,38.9370,120.0800,197.48000,268.08000,329.03000,377.82000,412.4300,...,412.5500,474.4600,519.9800,546.6600,552.8000,537.550,500.960,444.010,368.580,1
3620,-13.7100,-23.3760,-33.1060,-42.3480,-50.5820,-57.36500,-62.35800,-65.35700,-66.29900,-65.2730,...,-33.0940,-23.6760,-13.9780,-4.4692,4.4062,12.254,18.750,23.661,26.854,2

In [27]:
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,y
count,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,...,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000
mean,-3.146926,-2.498090,-1.836539,-1.190587,-0.588348,-0.051205,0.403718,0.766497,1.033416,1.207329,...,-4.101813,-4.543863,-4.858121,-5.034152,-5.068708,-4.965043,-4.734094,-4.390273,-3.957996,3.000000
std,126.286788,126.343958,126.728157,127.268572,127.789612,128.147543,128.300556,128.273433,128.167036,128.103829,...,125.790762,126.068860,126.078197,125.788959,125.267571,124.676354,124.238308,124.202558,124.787514,1.414275
min,-1018.800000,-1140.400000,-1247.700000,-1336.700000,-1405.300000,-1452.100000,-1476.500000,-1478.500000,-1458.800000,-1418.700000,...,-1145.700000,-1094.400000,-1010.100000,-935.090000,-863.440000,-800.710000,-867.570000,-910.890000,-963.190000,1.000000
25%,-31.417500,-31.095500,-31.200750,-31.100250,-30.897750,-31.137000,-30.565000,-30.626500,-30.483000,-30.467250,...,-32.534750,-32.468250,-32.782250,-33.289500,-32.580500,-32.303750,-31.696000,-32.008250,-31.819000,2.000000
50%,-0.544975,-0.547815,-0.346575,-0.215955,-0.058026,0.080368,0.253450,-0.015608,0.076126,-0.243320,...,-1.779900,-2.037850,-2.031950,-2.044850,-1.650850,-1.791950,-1.532200,-0.960270,-0.885990,3.000000
75%,29.164000,29.183500,29.329250,29.012250,28.960250,29.325500,29.781250,29.818000,29.963750,29.949250,...,27.474250,27.346750,27.426000,27.237500,26.733000,27.105250,27.365000,27.924000,28.427000,4.000000
max,1662.900000,1598.900000,1505.100000,1425.200000,1379.300000,1551.900000,1727.500000,1875.400000,1989.500000,2065.400000,...,1613.300000,1586.300000,1525.800000,1436.500000,1433.800000,1552.800000,1637.200000,1684.100000,1692.300000,5.000000

### Checking Null Values

In [25]:
df.isnull().sum()

X1      0
X2      0
X3      0
X4      0
X5      0
       ..
X175    0
X176    0
X177    0
X178    0
y       0
Length: 179, dtype: int64